sudo: required
services:
  - docker

before_install:
  - docker build -t deepaknaithani88/docker-react -f Dockerfile.dev .

script:
  - docker run deepaknaithani88/docker-react npm run test -- --coverage
